@font-face {
    font-family: myFont;
    src: url(fonts/norse-bold-webfont.woff);
}

:root {
    font-size: 14px;
}

body {
    display: flex;
    padding: 0;
    margin: 0;
    background-color: #fff;
    height: 100vh;
    font-family: sans-serif;   


}

#left-side {
    background-image:url(images/background.jpg);
    background-size:cover;
    flex-shrink: 0;
    width: 40%;
    color: #fff;
    position: relative;
}

.logo {
    background: rgba(0,0,0,0.5);
    margin-top: 25vh; 
    display: flex;
    padding: 5px;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.logo>img {
    height: 15vh;
}

.logo>p {
    font-family: myFont;
    font-weight: bold;
    font-size: 15vh;
    margin: 0;
}

.backgroundInfo {
    position: absolute;
    bottom: 1vh;
    width: 100%;
    text-align: center;    
}

.backgroundInfo>a{color:white}



.top {
    height: 35vh;
    padding:0 5vw 0 5vw;
    font-weight: bold;
    font-size: 1.2rem;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
}


.bot {
    padding: 5vw 0;
}
form {
    width: 100%;
}

.bot1 {
    padding-left: 5vw;
    box-shadow: 0 1px 3px rgb(209, 207, 207);

}
.title{
    font-weight: bold;
    font-size: 1.2rem;
}


.inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    padding: 3vh 15vw 3vh 0 ;

}

label {
    display: block;
    text-transform: uppercase;
    color: grey;
    font-size: .8rem;
}
input {
    width: 15vw;
    height: 2vh;
    border: 2px solid grey;
    border-radius: 4px;
}


input:invalid {
    border-color: red;
    box-shadow: 0 0 10px hotpink;
}

input:focus{
    box-shadow: 0 0 10px yellowgreen;
    border-color: yellowgreen;
}

.bot2{    
    padding-left: 5vw;
}


button{
    margin-top: 3vh;
    background-color: white;
    border: green;
    border-radius: 4px;
    text-align: center;
    color: green;
    font-weight: bold;
    font-size: 1rem;
    padding: 5px;
    box-shadow: 0 0 5px green;
    width:15vw; 
}

button:hover{
    background-color: #596D48;
    border-color: white;
    color: white;
}


.bot a{
    color: green;
    font-weight: bold;   
}
